body{

  background:#050816;
  color:white;
  font-family:'Poppins',sans-serif;
  overflow-x:hidden;

}

/* CYBERPUNK GRID */

body::before{

  content:'';

  position:fixed;
  width:100%;
  height:100%;

  background:
  linear-gradient(
    rgba(0,255,255,0.05) 1px,
    transparent 1px
  ),

  linear-gradient(
    90deg,
    rgba(255,0,255,0.05) 1px,
    transparent 1px
  );

  background-size:50px 50px;

  z-index:-5;

}

/* GLASSMORPHISM */

.timeline-card,
.github-card,
.blog-card,
.cms-panel{

  background:rgba(255,255,255,0.05);

  border:1px solid rgba(255,255,255,0.1);

  backdrop-filter:blur(20px);

  border-radius:30px;

  transition:0.5s;

}

/* HOVER */

.timeline-card:hover,
.github-card:hover,
.blog-card:hover{

  transform:translateY(-10px);

  box-shadow:
  0 0 30px cyan,
  0 0 60px magenta;

}

/* TIMELINE */

.timeline-container{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(300px,1fr));

  gap:30px;

}

/* GITHUB */

.github-grid{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));

  gap:30px;

}

/* BLOG */

.blog-grid{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(300px,1fr));

  gap:30px;

}

/* TERMINAL */

.terminal{

  width:80%;

  margin:auto;

  background:black;

  border-radius:20px;

  overflow:hidden;

  box-shadow:0 0 30px cyan;

}

.terminal-body{

  color:lime;

  font-family:monospace;

  padding:30px;

}
